{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<h2>Academic Details</h2>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
<!-- {{ personaldetail_form }}<br> --> 
	<!-- {% for field in form %}
	<span> {{ field.errors }}</span>

	<label>
		{{ field.label_tag }}
	</label>
	<div>{{ field }}</div>	
{% endfor%} -->
<table>

{% crispy form %}
</table>
	<input type="submit" name="submit">
</form>
</body>
</html>