{% extends 'intern/home.html'%}
{% load crispy_forms_tags %}
{% load static%}
<!-- <!DOCTYPE> 
<html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'intern/projectdetail.css' %}" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body> -->

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'intern/projectdetail.css' %}" />
<h2 style="text-align: center;">	Project Details</h2>
<div class="container center_div" >
<form action="" method="post">

	{% csrf_token %}

	{{form|crispy}}
	<!-- {{  form }} -->

	<input class="btn btn-info right" type="submit" name="submit"/>
</form>
</div>
{% endblock 	%}
<!-- </body>
</html>	 -->