{% extends 'company/index.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% load company %}
{% load static %}
{% load intern%}


{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<div class="main">
	
	<input id="checkAll" type="checkbox" name="checkbox">&nbsp; Select all questions	<br><br>
	<form id="listOfQuestionsForm" method="get">
		<div class="checkboxes">
			<input type="hidden" name="upc_id" value={{upc_id}}>
			{% for i in questions%}
			{% if questions%}
			<input class="checkBoxClass" type="checkbox" data-question_id="{{i.id}}" name="checkboxes" value="{{i.text}}">&nbsp; {{i.text}}<br>
			{% else%}
			<h3>No questions available</h3>
			{% endif %}
			{% endfor %}	
		</div>
	</form>
	<button id="preview" class="btn btn-info" type="button" style="float: right;" data-toggle="modal" data-target="#myModal" onclick="previewQuestion({{upc_id}})">Preview</button>
	
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Selected Questions</h4>
				</div>
				<div id="modalBody" class="modal-body">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Close</button>
					<a href="{% url 'company:create-test' %}"><button type="button" class="btn btn-default"  style="float: right;">Create Test</button></a>

				</div>
			</div>

		</div>
	</div>

	<div id="demo">
		
	</div>


</div>
<script>
	$("#checkAll").click(function () {
		$(".checkBoxClass").prop('checked', $(this).prop('checked'));
	});
	
	
	// $(document).ready(function() {
		// $("#preview").click(function(){
			function previewQuestion(id){

				var questions = [];

				$.each($("input[name='checkboxes']:checked"), function(){            
					questions.push($(this).val());
				});
				document.getElementById("modalBody").innerHTML = questions.join("<br>");

      	// /var x = document.getElementById("demo").innerHTML = window.location.pathname;
      	// debugger;
      	$("#listOfQuestionsForm").ajaxSubmit({url: '/company/generatetest/', type: 'get'})
      		// $.ajax({
      		// 	url : '/company/generatetest/'+id +'/',
      		// 	type : "GET",
      		// 	data: $('#listOfQuestionsForm').serialize(),
      		// 	success:function(){
      		// 		console.log("OJOK");
      		// 	},
      		// });
      	}
      
      // });
	// });
	
</script>


{% endblock %}