{% load static%}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{% static 'company/contactdetail.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'company/addquestion.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'company/confirmintern.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'company/index.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'company/test.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'company/sidenav.css'%}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        {% if user.is_authenticated %}
        <li>
          <h2 style="float: left;">Welcome {{ user.username }}</h2>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
         <a href="{% url 'account_logout'%}">
          <button class="btn btn-primary" type="button" >Log Out
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>


<div class="sidenav">
 <a href="{% url 'company:applications'%}"> Applications</a>
<a href="{% url 'company:all-post'%}">Requirements   </a>
<a href="{% url 'company:listofquestion' type='Python'%}">Question Bank
<a href="{% url 'company:confirm-intern' pk=request.user.id%}">Interns</a>
</div>



  {% block content%}
  {% endblock %}


</body>
</html>