{% extends 'company/index.html'%}
{% load company %}
{% load static %}
{% load intern%}



{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'company/sidenav.css'%}">

<div class="main">
<ul class="nav nav-tabs">
	{% if check == "confirm" %}
    <li id="confirm" class="active"><a href="{% url 'company:confirm-intern' pk=request.user.id%}">Confirmed Interns</a></li>
	{% else%}
    <li id="confirm"><a href="{% url 'company:confirm-intern' pk=request.user.id%}">Confirmed Interns</a></li>
	{% endif %}

	{% if check == "reject" %}
    <li id="reject" class="active"><a href="{% url 'company:reject-intern' pk=request.user.id%}">Rejected Interns</a></li>
	{% else %}
    <li id="reject" ><a href="{% url 'company:reject-intern' pk=request.user.id%}">Rejected Interns</a></li>
	{% endif %}

  
  </ul>
  
 </div>
 <div class="main">
  {% block intern %}
  {%  endblock %}
  </div>
{% endblock%}