{% extends "intern/index.html" %} 
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block navbar %}
<div class="container-fluid"> 

    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">PRACTICUM</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Sign Up
                </a>
                <ul class="dropdown-menu">

                    <li class="body">
                        <ul class="menu">
                            <li>
                                <a href="{% url 'check-user' 'intern' %}">

                                    <div class="menu-info">
                                        <h5>SignUp as Intern</h5>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'check-user' 'company' %}">
                                    <div class="menu-info">
                                        <h5>SignUp as Company</h5>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>


            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    Log In
                </a>
                <ul class="dropdown-menu">
                    <li class="body">
                        <ul class="menu tasks">
                            <li>
                                <a href="{% url 'check-login' 'intern' %}">
                                    <h5>
                                        LogIn as Intern
                                    </h5>

                                </a>
                            </li>
                            <li>
                                <a href="{% url 'check-login' 'company' %}">
                                    <h5>
                                        LogIn as Company
                                    </h5>

                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock  %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'intern/login.css' %}" />
<div class="containter center_div">
    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    {% if form %}

<div class="card">
    <div class="body">
        <form  method="POST"  action="{{ action_url }}">
            {% csrf_token %}
            <div class="input-group">
                <div id="div_id_password1" class="form-group">
                 <label for="id_password1" class="form-control-label  requiredField">
                    New Password<span class="asteriskField">*</span> 
                </label> 
                <div class="form-line"> 
                    <input type="password" name="password1" class="textinput textInput form-control" id="id_password1" placeholder="New Password" required="" aria-autocomplete="list">
                </div> 
            </div>
        </div>
        <div class="input-group">
            <div id="div_id_password2" class="form-group"> 
              <label for="id_password2" class="form-control-label  requiredField">
                New Password (again)<span class="asteriskField">*</span> 
            </label>
            <div class="form-line"> 
                <input type="password" name="password2" class="textinput textInput form-control" id="id_password2" placeholder="New Password (again)" required=""> 
            </div> 
        </div>
    </div>
    <div class="row">


        <button class="btn btn-block bg-pink waves-effect" type="submit">CHANGE PASSWORD</button>

    </div>

</form>
</div>
</div>
</div>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}
