.center_div{
    margin: 30px auto;
    width:31%; 

     /* value of your choice which suits your alignment */
}




.login-or{
	text-align: center;
	font-size: 29px;
	font-weight: bolder;
	height: 20px;

	
}

.btn-margin{
	margin-left: 33.50%;
	width: 30%;
	font-size: 18px;
	border-radius: 3px;
}