.center_div{
    margin: 30px auto;
    width:30%; 

     /* value of your choice which suits your alignment */
}

.right{
	float: left;
	border-radius: 5px;
	width: 100%;
	height: 40px;
}

.btn{
	margin-left: 33.95%;
	width: 29%;
	font-size: 20px;
}

.login-or{
	text-align: center;
	font-size: 29px;
	font-weight: bolder;
	height: 20px;

	
}

.notaccount{
	text-align: center;
	padding-top: 10px;
}