.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    padding-top: 65px;
    margin-top: 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.main {
    margin-left: 140px; /* Same as the width of the sidenav */
    /* Increased text to enable scrolling */
    /*padding: 0px 10px;*/
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}